<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Less Is More</title>
  <meta name="description" content="Less.js sandbox">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />


</head>

<body>
<p>stuff and things</p>

<a href="">link should use less color</a>
  
  


</body>

</html>