<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Less Is More</title>
  <meta name="description" content="Less.js sandbox">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <script src="https://kit.fontawesome.com/441b96c0fe.js"></script>


</head>

<body>
  <div id="body-div">



    <div class="normal-box">
      <h1>Less Is More</h1>
      <p class="remBttm">Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke.</p>
    </div>


  </div>

</body>

</html>